.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  .logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin: 20px;
    grid-gap: 50px;
  }
  .welcome-screen {
    background: #adefd1ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main-title {
      font-size: 40px;
      font-weight: 500;
    }
    .sub-title {
      font-size: 20px;
      font-weight: 200;
      margin: 10px auto;
    }

    .short-text {
      text-align: center;
      font-size: 16px;
      margin-bottom: 20px;
    }
    .buttons {
      margin: 30px;
      .btn-login {
        border-radius: 100px;
        background: #00203fff;
        color: #fff;
        padding: 5px 80px;
      }

      @media (max-width: 768px) {
        .btn-login {
          padding: 0 10px;
        }
      }
    }
  }

  .form-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00203fff;
    height: 100vh;
    color: #fff;
    .main-title {
      font-size: 40px;
      font-weight: 500;
    }
    .form-wrapper {
      width: 60%;
      padding: 30px;
      .title {
        font-size: 30px;
        font-weight: 300;
      }
      @media (max-width: 768px) {
        .title {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }
  .scroll-floating {
    display: none;
  }
}

.no-match-error {
  margin-top: 5px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .wrapper {
    background: linear-gradient(to bottom, #adefd1ff, #00203fff);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    .logos {
      grid-gap: 10%;
    }
    .welcome-screen {
      background: transparent;
      text-align: center;
      .sub-title {
        width: 80%;
        margin: 30px auto;
      }
    }
    .form-screen {
      background: transparent;
    }
    .scroll-floating {
      position: absolute;
      cursor: pointer;
      display: flex;
      justify-content: center;
      transform: scale(1.5);
      bottom: 10%;
    }
  }
}
