.theme-inverse-btn {
  border-radius: 100px;
  background: #adefd1ff;
  color: #00203fff !important;
  padding: 5px 80px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  .icon {
    display: flex;
  }
}

.theme-btn {
  border-radius: 100px;
  background: #00203fff;
  color: #adefd1ff;
  padding: 5px 80px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}
