/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  font-family: "Work sans", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.fc-white {
  color: #fff;
}

.fc-grey {
  color: #ccc;
}

.w-100 {
  width: 100%;
}

.c-p {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.bg-white {
    .mat-dialog-container {
      background: #fff !important;
      color: #000 !important; 
    }
}
